				{% extends 'search/index.html' %}

				{% load staticfiles %}

				{% block body_block %}
				
				<div class="search-row-wrapper" style="background-image: url(http://i.huffpost.com/gen/1468570/images/o-EUROPE-TRAIN-TRAVEL-facebook.jpg); background-position: center center;">
					<div class="container text-center">
						<form action="/search/get_trains/" method="post">
{% csrf_token %}

						<div class="col-sm-3">
							<select class="form-control" name="from_station" id="id-location">
								<option value="{{ from_station.code }}" selected="selected">{{ from_station.long_name }}</option>
								{% for station in stations %}
								<option value="{{ station.code }}">{{ station.long_name }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-sm-3">
							<select class="form-control" name="to_station" id="id-location">
								<option value="{{ to_station.code }}" selected="selected">{{ to_station.long_name }}</option>
								{% for station in stations %}
								<option value="{{ station.code }}">{{ station.long_name }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-sm-3">
							<input type="date" name="departure_date" class="form-control has-icon"  value="{{ departure_date }}">
						</div>
						<div class="col-sm-3">
							<button type="submit" class="btn btn-block btn-primary  "> Поиск <i class="fa fa-search"></i></button>
						</div>
						</form>
					</div>
				</div>

				<div class="main-container">
					<div class="container">
						<div class="row">

							<div class="col-sm-12 page-content col-thin-left">
								<div class="category-list">
									<div class="row">
										<div class="col-sm-2  col-xs-2 text-center">Номер вагона</div>
										<div class="col-sm-3  col-xs-3">Тип</div>
										<div class="col-sm-2  col-xs-2">Цена</div>
										<div class="col-sm-3  col-xs-2">Места</div>
										<div class="col-sm-2  col-xs-1">Выбор</div>
									</div>

									<div class="tab-box clearfix ">

										<div class="col-lg-12  box-title no-border">
										</div>


										{% for car in cars %}
										<div class="adds-wrapper jobs-list">
											<div class="item-list job-item">

												<div class="col-sm-2  col-xs-2">
													<div class="add-details jobs-item">
														<h5 class="number"> 
															{{ car.number }} </h5>
													</div>
												</div>

												<div class="col-sm-3 col-xs-3">
													<div class="">
														<h4>{{ car.car_type }}</h4></div>
															</div>

															<div class="col-sm-2 col-xs-2">
																<div class="time">
																	<h4>{{ car.tariff }} ₸</h4></div>
																	</div>

																	<div class="col-sm-3 col-xs-3">
																		<div class="">
																			<h4>{{ car.places }}</h4></div>
																				</div>

																				
		<form action="/search/passenger/" method="post">
			{% csrf_token %}

			<input type="hidden" name="from_station" value="{{ from_station.code }}">
			<input type="hidden" name="to_station" value="{{ to_station.code }}">
			<input type="hidden" name="departure_date" value="{{ departure_date }}">
			<input type="hidden" name="departure_time" value="{{ departure_time }}">
			<input type="hidden" name="train_number" value="{{ train_number }}">
			<input type="hidden" name="car_number" value="{{ car.number }}">
			<input type="hidden" name="car_tariff" value="{{ car.tariff }}">
			<input type="hidden" name="car_type" value="{{ car.car_type }}">
			<div class="col-sm-2  col-xs-2">
				<button type="submit" class="btn btn-success">Выбрать</button></div>
		</form>
					</div>


																			</div>
																			{% endfor %}



																		</div>

																	</div>

																	<div class="post-promo text-center">
																		<h2> Не нашли подходящий билет? </h2>
																		<h5> Оставьте нам заявку, мы приобретем ваш билет как только станет доступно </h5>
																		<a href="/search/book/" class="btn btn-lg btn-border btn-post btn-danger">Заказать билет </a></div>

																	</div>

																</div>
															</div>
														</div>

														{% endblock %}
